@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@300&display=swap');

:root {
    --primary-color: #28485B;
    --secondary-color: #FEAF58;
    --tertiary-color: #F8F8FF;
    --quaternary-color: #717171;
    --quinary-color: rgba(0, 0, 0, 0.45);
    --senary-color: #e29746;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    overflow-x: hidden !important;
}

.sona {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("sona.png");
    height: 60rem;
    width: 60rem;
    background-position: right;
    z-index: 0;
}

.splash {
    display: flex;
    flex-direction: row;
    background-image: url("bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    position: relative;
    font-family: sans-serif;
    color: var(--tertiary-color);
}

.chip {
    border-radius: 500px;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    background-color: var(--quaternary-color);
    display: inline;
}

.chip-link:hover, .chip-link:active, .chip-link:focus {
    box-shadow: 0 3px 0.5rem 3px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.me-1 {
    margin-right: 0.5rem;
}

.content {
    padding: 1rem 2rem 1rem 2rem;
    max-width: 700px;
    z-index: 1;
}

.header {
    font-size: clamp(1.8rem, 7vw, 4rem);
    font-family: "Poppins", sans-serif;
    margin: 1rem 1rem 0 1rem;
}

.subheader {
    font-size: clamp(1.3rem, 7vw, 2.5rem);
    font-family: "Poppins", sans-serif;
    margin: 1rem 1rem 0 1rem;
}

.small {
    font-size: clamp(0.3rem, 7vw, 1rem);
    font-family: "Poppins", sans-serif;
    margin: 0 1rem 1rem 1rem;
    color: var(--tertiary-color);
}

.body {
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(0.9rem, 5vw, 1.3rem);
    margin: 1rem 1rem 1rem 1rem;
}

.modal-background {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
    background-color: var(--quinary-color);
}

.modal {
    border-radius: 2rem;
    width: min(90%, 750px);
    z-index: 3;
    box-shadow: 0 3px 0.5rem 3px rgba(0, 0, 0, 0.24);
    background-color: var(--primary-color);
}

.modal-content {
    padding: 2rem;
    overflow-y: auto;
}

.modal-title {
    display: flex;
}

.modal-header {
    flex-grow: 1;
    margin: 0.2rem 0 0 0;
    font-family: "Poppins", sans-serif;

}

.modal-close {
    margin: 0;
    border-radius: 100%;
    padding: 1rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover, a:active, a:focus {
    color: var(--senary-color);
}

.modal-close:hover, .modal-close:focus, .modal-close:active {
    background-color: rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.modal-desc {
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(0.9rem, 5vw, 1.3rem);
}

@media screen and (max-width: 900px) {
    .sona {
        background-position: center;
        height: 60rem;
        width: 30rem;
    }
}

@media screen and (max-width: 750px) {
    .modal {
        height: 90vw;
    }
}
