@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@300&display=swap');

:root {
    --primary-color: #4593dc;
    --secondary-color: #efa10e;
    --tertiary-color: #F8F8FF;
    --quaternary-color: #24337c;
    --quinary-color: rgba(0, 0, 0, 0.45);
    --senary-color: #632490;
    --septenary-color: #d28c07;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    overflow-x: hidden !important;
    position: relative;
}

.sona {
    position: absolute;
    right: 0;
    top: 0;
    height: 60rem;
    width: 60rem;
    z-index: 1;
}

.sona-img {
    opacity: 0;
    transition: opacity 0.5s;
    background: url("sona.png") right;
    width: 100%;
    height: 100%;
}

.sona-img-fade-in {
    opacity: 1;
}

.splash {
    display: flex;
    flex-direction: row;
    background-image: url("bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    position: relative;
    font-family: sans-serif;
    color: var(--tertiary-color);
}

.bg {
    position: sticky;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.bg-img {
    width: 100%;
    height: 100%;
    transform: scale(1.5) translateX(25px) translateY(-60px);
}

.chip {
    border-radius: 500px;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    background-color: var(--secondary-color);
    display: inline;
}

.chip-link:hover, .chip-link:active, .chip-link:focus {
    box-shadow: 0 3px 0.5rem 3px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.me-1 {
    margin-right: 0.5rem;
}

.content {
    max-width: min(100%, 700px);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.header {
    font-size: clamp(1.8rem, 7vw, 4rem);
    font-family: "Poppins", sans-serif;
    margin: 1rem 1rem 0 1rem;
}

.subheader {
    font-size: clamp(1.3rem, 7vw, 2.5rem);
    font-family: "Poppins", sans-serif;
    margin: 1rem 1rem 0 1rem;
}

.small {
    font-size: clamp(0.3rem, 7vw, 1rem);
    font-family: "Poppins", sans-serif;
    margin: 0 1rem 1rem 1rem;
    color: var(--tertiary-color);
}

.body {
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(0.9rem, 5vw, 1.3rem);
    margin: 1rem 1rem 1rem 1rem;
}

.modal-background {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 3;
    background-color: var(--quinary-color);
}

.modal {
    border-radius: 2rem;
    padding: 2rem;
    overflow-y: auto;
    max-height: 500px;
    max-width: min(100%, 750px);
    z-index: 4;
    box-shadow: 0 3px 0.5rem 3px rgba(0, 0, 0, 0.24);
    background-color: var(--primary-color);
}

.modal-background {
    transition: opacity 0.07s linear;
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal-title {
    display: flex;
}

.modal-header {
    flex-grow: 1;
    margin: 0.2rem 0 0 0;
    font-family: "Poppins", sans-serif;
}

.modal-title {
    padding-left: 2rem;
    padding-right: 2rem;
}

.modal-desc {
    padding-left: 2rem;
    padding-right: 2rem;
}

.modal-imgs {
    padding-left: 2rem;
    padding-right: 2rem;
}

.modal-imgs {
    display: flex;
    flex-direction: column;
}

.meta {
    display: inline-block;
}

.invisible {
    opacity: 0 !important;
}

.modal-close {
    margin: 0;
    border-radius: 100%;
    padding: 1rem;
}

.modal-close-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.piece-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piece-button {
    border-radius: 500px;
    padding: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.3rem !important;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    display: inline;
}

.dn {
    display: none;
}

.piece-button:hover, .piece-button:active, .piece-button:focus {
    box-shadow: 0 3px 0.5rem 3px rgba(0, 0, 0, 0.24);
    color: var(--tertiary-color);
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover, a:active, a:focus {
    color: var(--septenary-color);
}

.modal-close:hover, .modal-close:focus, .modal-close:active {
    background-color: rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.modal-desc {
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(0.9rem, 5vw, 1.3rem);
}

.piece {
    padding: 1rem 1rem 0 1rem;
    background-color: var(--primary-color);
    box-shadow: 0 3px 1rem 3px rgba(0, 0, 0, 0.24);
    border-radius: 1rem;
    /*width: 100%;*/
}

.piece-meta {
    display: flex;
    flex-direction: column;
}

.piece-title {
    margin: 1rem 0 0 0;
}

.piece-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.piece-desc {
    flex-grow: 1;
}

.piece-imgs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.piece-img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.piece-img:last-child {
    margin-bottom: 0;
}

.piece-flex {
    display: flex;
    flex-direction: row;
}

.piece-img-loaded {
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .sona {
        display: none;
    }
}

@media screen and (min-width: 750px) {
    .content {
        padding: 16px 24px 16px 24px;
    }
}

@media screen and (max-width: 850px) {
    .modal {
        height: 100vh;
        max-height: 100vh;
        width: 100%;
        max-width: 100%;
    }
}
